{% extends 'layout.html' %}
{% block body %}

<h2> To Do List - Incomplete </h2>
    {% for task in all_tasks %}
        {% if task.done == False %} 
             <h3>{{ task.title }}</h3>
            {{ task.description }}
            <br>
            {{ task.date_created }}
            <br>
            <form action="{{ url_for('update', id=task.id) }}">
            
                <input type=submit value="Update">
            </form>
            <form action="{{ url_for('delete', id=task.id) }}">
            
                <input type=submit value="Delete">
            </form>
            <form action="{{ url_for('complete', id=task.id) }}">
                <input type=submit value="Complete">
            
            </form>
        {% endif %}
    {% endfor %}

<h2> To Do List - Complete </h2>
{% for task in all_tasks %}
    {% if task.done == True %}
            <h3>{{ task.title }}</h3>
            {{ task.description }}
            <br>

            {{ task.date_created }}
            <br>
            <form action="{{ url_for('update', id=task.id) }}">
            
                <input type=submit value="Update">
            </form>
            <form action="{{ url_for('delete', id=task.id) }}">
            
                <input type=submit value="Delete">
            </form>
            <form action="{{ url_for('complete', id=task.id) }}">
                <input type=submit value="Complete">
            </form>
    {% endif %}
{% endfor %}

{% endblock body %}